*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050816;
    color:white;
    overflow-x:hidden;
    position:relative;
}

/* PARTICULES ANIMÉES */

body::before{
    content:"✦ ✧ ◆ ◇ ✦";
    position:fixed;
    top:10%;
    left:5%;
    font-size:40px;
    color:rgba(255,215,0,0.15);
    animation:float 8s infinite linear;
}

body::after{
    content:"⚡ ✦ ◉ ✧";
    position:fixed;
    bottom:10%;
    right:5%;
    font-size:35px;
    color:rgba(59,130,246,0.2);
    animation:float2 10s infinite linear;
}

@keyframes float{
    0%{
        transform:translateY(0px) rotate(0deg);
    }
    50%{
        transform:translateY(-20px) rotate(10deg);
    }
    100%{
        transform:translateY(0px) rotate(0deg);
    }
}

@keyframes float2{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(20px);
    }
    100%{
        transform:translateY(0px);
    }
}

/* CONTAINER */

.container{
    width:90%;
    max-width:1300px;
    margin:40px auto;
    display:flex;
    gap:25px;
}

/* LEFT */

.left-side{
    width:32%;
}

/* RIGHT */

.right-side{
    width:68%;
}

/* CARTES */

.card,
.profile-card,
.section{
    background:rgba(15,23,42,0.85);
    border:1px solid rgba(255,255,255,0.08);
    padding:25px;
    border-radius:25px;
    margin-bottom:25px;
    backdrop-filter:blur(12px);
    box-shadow:
        0 0 15px rgba(255,215,0,0.08),
        0 0 30px rgba(59,130,246,0.08);
    transition:0.4s;
    position:relative;
    overflow:hidden;
}

/* EFFET LUMIÈRE */

.card::before,
.profile-card::before,
.section::before{
    content:"";
    position:absolute;
    width:150%;
    height:150%;
    background:linear-gradient(
        45deg,
        transparent,
        rgba(255,215,0,0.08),
        transparent
    );
    top:-120%;
    left:-120%;
    transform:rotate(25deg);
    transition:0.7s;
}

.card:hover::before,
.profile-card:hover::before,
.section:hover::before{
    top:100%;
    left:100%;
}

.card:hover,
.profile-card:hover,
.section:hover{
    transform:translateY(-8px) scale(1.01);
    box-shadow:
        0 0 20px rgba(255,215,0,0.2),
        0 0 35px rgba(59,130,246,0.2);
}

/* PHOTO */

.profile-card{
    text-align:center;
}

.profile-card img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:contain;
    background-color: white;
    border:5px solid #38bdf8;
    display:block;
    margin:0 auto 20px auto;

    box-shadow:
        0 0 15px #38bdf8,
        0 0 35px rgba(59,130,246,0.6);

    animation:pulse 3s infinite;
}

@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.05);
    }
    100%{
        transform:scale(1);
    }
}

/* TITRES */

h1{
    font-size:32px;
    margin-bottom:10px;
    color:white;
}

h2{
    color:#38bdf8;
    margin-bottom:20px;
    font-size:24px;
    position:relative;
    padding-left:20px;
}

/* SYMBOLE DEV */

h2::before{
    content:"◆";
    position:absolute;
    left:0;
    color:#3b82f6;
}

/* JOB */

.job{
    color:#cbd5e1;
    font-size:18px;
}

/* CONTACT */

.card p{
    margin:15px 0;
    font-size:17px;
}

.card i{
    color:#38bdf8;
    margin-right:10px;
    font-size:18px;
}

/* SKILLS */

.skill{margin-bottom:22px;

}

.bar{

    width:100%;

    height:12px;

    background:#1e293b;

    border-radius:20px;

    overflow:hidden;

    margin-top:10px;

}

.progress{

    height:100%;

    border-radius:20px;

    position:relative;

    animation:move 2s;

}

@keyframes move{

    from{

        width:0;

    }

}

/* COULEURS */

.html{

    width:90%;

    background:linear-gradient(to right,#38bdf8,#3b82f6);

}

.js{

    width:75%;

    background:linear-gradient(to right,#3b82f6,white);

}

.python{

    width:80%;

    background:linear-gradient(to right,#38bdf8,white);

}

.sql{

    width:70%;

    background:linear-gradient(to right,#3b82f6,#38bdf8);

}

/* BOX */

.box{

    background:rgba(30,41,59,0.8);

    padding:20px;

    border-radius:18px;

    margin-top:15px;

    border-left:4px solid #38bdf8;

    transition:0.4s;

}

.box:hover{

    transform:translateX(8px);

}

/* TEXT */

.section p{

    line-height:1.8;

    color:#e2e8f0;

}

/* RESPONSIVE */

@media(max-width:900px){

    .container{

        flex-direction:column;

    }

    .left-side,

    .right-side{

        width:100%;
}
}
